# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

# -----------------------------
# Node.js
# -----------------------------
node_modules/
dist/
build/

# -----------------------------
# Environment
# -----------------------------
.env
.env.*

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Logs
# -----------------------------
*.log